In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
dataset=pd.read_csv(r'C:\Users\Abhishek Padir\Desktop\bank-full_dataset.csv')

In [7]:
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [8]:
dataset.replace({"y":{"no":0,"yes":1}},inplace=True)

In [9]:
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0

In [10]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [11]:
column_list=['poutcome','y']
x=dataset.drop(column_list,axis = 1)
y=dataset['y']

In [12]:
print(x)

       age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous
0        unknown    5   may       261         1     -1         0
1        unknown    5   may       151         1     -1         0
2        unknown    5   may        76         1     -1         0
3        unknown    5   may        92         1     -1         0
4        unknown    5   may       198         1     -1         0
...          ...  ...   ...       ...       ...    ...       ...
45206   cellular   17   nov       977         3     -1         0
45207   cellular   17   nov       456         2     -1         0
45208   cellular   17   nov      1127         5    184         3
45209  telephone   17   nov       508         4     -1         0
45210   cellular   17   nov       361         2    188        11

[45211 rows x 15 columns]

In [13]:
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y, test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape)

(36168, 15) (9043, 15)

In [19]:
encoder=ce.OrdinalEncoder(cols=['job', 'marital', 'education', 'default', 'housing', 'loan','contact', 'month'])
X_train=encoder.fit_transform(X_train)
X_test=encoder.fit_transform(X_test)

In [20]:
print(X_train[0:5])

       age  job  marital  education  default  balance  housing  loan  contact  \
3344    41    1        1          1        1      849        1     1        1
17965   49    2        1          1        1     1415        1     1        2
18299   42    3        1          2        1     3842        2     1        2
10221   37    4        2          3        1     -119        1     1        1
32192   56    1        1          1        1     3498        2     1        2

       day  month  duration  campaign  pdays  previous
3344    15      1        72         1     -1         0
17965   30      2       269         2     -1         0
18299   31      2       130         4     -1         0
10221   11      3       375        11     -1         0
32192   15      4       264         2     -1         0

In [21]:
from xgboost import XGBRegressor

In [22]:
model=XGBRegressor()
model.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [23]:
pred=model.predict(X_test)
print(pred)

[-0.00341363 -0.00724956  0.13937636 ...  0.01441595 -0.00609318
 -0.00608238]

In [24]:
from sklearn import metrics

In [25]:
mae=metrics.mean_absolute_error(Y_test,pred)

In [26]:
print("Mean absolute error", mae)

Mean absolute error 0.1340916583294723